<%= render 'books/left', book:@book, user:@user %>

<% @users.each do |user| %>
  <%= link_to do %>
    <%= image_tag user.get_profile_image(80,80) %>
  <% end %>
 <%= user.name %>
 <p>Show</p>
<% end %>
