<%= render 'books/left', book:@book, user:@user %>

<div>
  <% @books.each do |book| %>
    <%= image_tag @user.get_profile_image(80,80) %>
    <%= book.title %>
    <%= book.body %>
  <% end %>
</div>
